node_modules
npm-debug.log
yarn-error.log
coverage/
.aws-config.json
awsconfig
Dockerfile
/.awcache
/dist
.idea/
/public/build
vendor
/emails/dist
/reports
/e2e/tmp
/scripts/grafana-server/tmp
Makefile
vendor/
/docs/menu.yaml
/requests
tsconfig.tsbuildinfo
__debug_bin*

